<!DOCTYPE html>
<html>
<head>
<title>speeding tickets</title>
		<script src="https://unpkg.com/vue@next"></script>
<link rel="stylesheet" 
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script 
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<script 
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
</script>

  

</head>
<body>
  <div class="container">
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Our Website</a>
    </div>
    <div>
       <ul class="nav navbar-nav">
           <li><a href="index.html">All Tickets</a></li>
	       <li class="active"><a href="25over.html">25mph or move over</a></li>
       </ul>
    </div>

</nav>    <!-- end nav-bar -->
	
	
  <div class="container" id='main'>
  <h2>Speeders (25mph and over)</h2>
       <div style='padding: 5px;'> 
  <select  v-on:change="getMphOver()" v-model='tickets'>
  <option value='MphOver'>25mph and over</option>
  <option value='all'>All tickets</option>
  </select> Select an Option
  </div>
  
  
  <div v-show="showTable">
    <h3>Tickets: {{tickets}}</h3>
    <table class='table'>
    <tr> <th>Ticket ID</th> <th>Time</th><th>Posted Speed</th><th>Mph Over</th><th>Violator Sex</th></tr>
     <tr v-for="MphOver in ticket_items"> 
    <td> {{ticket.tid}}</td><td>{{ticket.stop_time}}</td><td> {{ticket.posted_speed}}</td><td> {{ticket.actual_speed - ticket.posted_speed}}</td><td>{{ticket.violator_sex}}</td>
  </tr>
  </table>
  
  
  </div>
  
 
  
  </div>   <!-- end class='container'   -->
  
  <script src = 'app.js'></script>   <!-- vue.js application code -->
      

</body>
  
</div>   <!-- end gpaApp -->
</div>   <!-- end class= 'container' -->

<script>
let app = Vue.createApp({
   data() {     // returns an object of data
        return {
            MphOver: '',          // value is set by the select list
            results: [],       // all 109 data itmes retrieved from the json file
            ticket_items: [],    // menu items filtered by meal
            time_loaded: '',
            showTable: false
        }
        },
   created() {      // section executes as page loads
        var d = new Date()
        this.time_loaded = d.toLocaleTimeString()
  
        this.getData()  // call method to load json data as page loads
   },
   methods: {    // an object of functions (methods)
      async getData() {
            const response = await fetch('tickets1.json')
            this.results = await response.json()
       },
       getMphOver() {
           this.showTable = true
           // filter data form given meal
           this.tickets1_items = this.results.filter((item) => ((item.actual_speed - item.posted_speed)) == this.ticket);
       }
   },
  
})

  
  <script src = 'app.js'></script>   <!-- vue.js application code -->
      

</html>
